Data_input/*
!Data_input/.gitkeep
results/*
!results/.gitkeep
results_kim/*
!results_kim/.gitkeep
resources/*
!resources/.gitkeep
.snakemake/
*.h5ad
*.bam
*.bai
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store
.idea/*

